@font-face {
  font-family: DS-DIGIT;
  src: url("../css/fonts/DS-DIGIT.ttf"); }
iframe {
  display: none; }

.back {
  position: relative;
  width: calc( 750vw / 7.5 );
  height: calc( 8478vw / 7.5 );
  background: url("../img/hcpp_js1_back.jpg") no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden; }
  .back .tab {
    width: calc( 663vw / 7.5 );
    height: calc( 106vw / 7.5 );
    position: absolute;
    left: calc( 50% - 663vw / 7.5 / 2 );
    display: flex;
    flex-direction: row; }
    .back .tab.tab_one {
      top: calc( 1402vw / 7.5 ); }
    .back .tab.tab_two {
      top: calc( 7746vw / 7.5 ); }
    .back .tab .item {
      flex: 1;
      margin-right: calc( 9vw / 7.5 );
      height: calc( 96vw / 7.5 );
      box-sizing: border-box;
      border: 1px solid #ffffff;
      border-radius: calc( 10vw / 7.5 );
      color: #ffffff;
      font-size: calc( 23vw / 7.5 );
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .back .tab .item.active {
        background: #e0c6a6;
        color: #17212d;
        border: 0; }
        .back .tab .item.active::after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-width: calc( 10vw / 7.5 ) calc( 10vw / 7.5 ) 0;
          border-style: solid;
          border-color: #e0c6a6 transparent transparent;
          position: absolute;
          bottom: calc( -10vw / 7.5 );
          left: 50%; }
      .back .tab .item:last-child {
        margin-right: 0; }
  .back .form_post {
    position: absolute;
    width: calc( 604vw / 7.5 ); }
    .back .form_post.form_one {
      top: calc( 1578vw / 7.5 );
      left: calc( 50% - 604vw / 7.5 / 2 ); }
    .back .form_post.form_two {
      top: calc( 7922vw / 7.5 );
      left: calc( 50% - 604vw / 7.5 / 2 ); }
      .back .form_post.form_two input {
        color: #7e7b7b; }
        .back .form_post.form_two input::-webkit-input-placeholder {
          color: #7e7b7b; }
      .back .form_post.form_two .req span {
        color: #7e7b7b; }
    .back .form_post input {
      width: 100%;
      height: calc( 80vw / 7.5 );
      margin-bottom: calc( 12vw / 7.5 );
      text-indent: calc( 20vw / 7.5 );
      color: #7e7b7b;
      border: 0;
      background: transparent;
      outline: none; }
      .back .form_post input::-webkit-input-placeholder {
        color: #7e7b7b; }
    .back .form_post .req {
      position: relative;
      display: flex;
      justify-content: space-between; }
      .back .form_post .req span {
        font-size: calc( 12vw / 7.5 );
        color: #999999;
        position: absolute;
        line-height: calc( 80vw / 7.5 );
        top: 0;
        right: calc( 15vw / 7.5);
        display: inline-block; }
    .back .form_post .submit {
      width: 100%;
      height: calc( 75vw / 7.5 ); }
  .back .swipper {
    position: absolute; }
    .back .swipper.swiper_one {
      width: calc( 750vw  / 7.5 );
      height: calc( 409vw / 7.5 );
      top: calc( 2212vw / 7.5 );
      left: calc( 50% - 750vw / 7.5 / 2 ); }
      .back .swipper.swiper_one .swiper-container {
        width: calc( 663vw / 7.5 );
        border-radius: calc( 10vw / 7.5 );
        height: 100%;
        overflow: hidden; }
        .back .swipper.swiper_one .swiper-container .one {
          background: url("../img/hcpp_js1_1.jpg") no-repeat;
          background-size: 100% 100%; }
        .back .swipper.swiper_one .swiper-container .two {
          background: url("../img/hcpp_js1_2.jpg") no-repeat;
          background-size: 100% 100%; }
        .back .swipper.swiper_one .swiper-container .three {
          background: url("../img/hcpp_js1_3.jpg") no-repeat;
          background-size: 100% 100%; }
        .back .swipper.swiper_one .swiper-container .swiper-slide-prev {
          position: relative; }
          .back .swipper.swiper_one .swiper-container .swiper-slide-prev:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6); }
        .back .swipper.swiper_one .swiper-container .swiper-slide-next {
          z-index: -1;
          position: relative; }
          .back .swipper.swiper_one .swiper-container .swiper-slide-next:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6); }
      .back .swipper.swiper_one .swiper-pagination {
        width: 100%;
        left: 0;
        bottom: calc( -34vw / 7.5 );
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .back .swipper.swiper_one .swiper-pagination span {
          background: #8b9096;
          margin-right: calc( 10vw / 7.5 );
          outline: none;
          width: calc( 11vw / 7.5 );
          height: calc( 11vw / 7.5 );
          border-radius: 50%;
          box-sizing: border-box;
          border: 0; }
          .back .swipper.swiper_one .swiper-pagination span.swiper-pagination-bullet-active {
            width: calc( 13vw / 7.5 );
            height: calc( 13vw / 7.5 );
            border-radius: 50%;
            background: linear-gradient(top left, #efdbbb, #c49d7e);
            background: -ms-linear-gradient(top left, #efdbbb, #c49d7e);
            background: -webkit-linear-gradient(top left, #efdbbb, #c49d7e);
            background: -moz-linear-gradient(top left, #efdbbb, #c49d7e); }
      .back .swipper.swiper_one .swiper-button-prev {
        background-image: url("../img/hc_hb_wkb4_left.png");
        width: calc( 60vw / 7.5 );
        height: calc( 60vw / 7.5 );
        background-repeat: no-repeat;
        background-size: 100% 100%; }
      .back .swipper.swiper_one .swiper-button-next {
        background-image: url("../img/hc_hb_wkb4_right.png");
        width: calc( 60vw / 7.5 );
        height: calc( 60vw / 7.5 );
        background-repeat: no-repeat;
        background-size: 100% 100%; }
    .back .swipper.swiper_two {
      width: 100%;
      height: calc( 321vw / 7.5 );
      top: calc( 5399vw / 7.5 );
      left: 0; }
      .back .swipper.swiper_two .swiper-container {
        width: 100%;
        height: 100%; }
        .back .swipper.swiper_two .swiper-container .one {
          background: url("../img/hc_hb_wkb4_1.jpg") no-repeat;
          background-size: 100% 100%; }
        .back .swipper.swiper_two .swiper-container .two {
          background: url("../img/hc_hb_wkb4_2.jpg") no-repeat;
          background-size: 100% 100%; }
        .back .swipper.swiper_two .swiper-container .three {
          background: url("../img/hc_hb_wkb4_3.jpg") no-repeat;
          background-size: 100% 100%; }
        .back .swipper.swiper_two .swiper-container .four {
          background: url("../img/hc_hb_wkb4_4.jpg") no-repeat;
          background-size: 100% 100%; }
      .back .swipper.swiper_two .swiper-pagination {
        width: 100%;
        left: 0;
        bottom: calc( -45vw / 7.5 );
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .back .swipper.swiper_two .swiper-pagination span {
          background: #8b9096;
          margin-right: calc( 6vw / 7.5 );
          outline: none; }
          .back .swipper.swiper_two .swiper-pagination span.swiper-pagination-bullet-active {
            background: linear-gradient(top left, #efdbbb, #c49d7e);
            background: -ms-linear-gradient(top left, #efdbbb, #c49d7e);
            background: -webkit-linear-gradient(top left, #efdbbb, #c49d7e);
            background: -moz-linear-gradient(top left, #efdbbb, #c49d7e); }

.footer {
  background: #2b323b;
  margin-top: -1px; }
  .footer .m-footer {
    padding-top: calc( 40vw / 7.5 );
    padding-bottom: calc( 100vw / 7.5 );
    text-align: center;
    font-size: calc( 23vw / 7.5 );
    line-height: calc( 50vw / 7.5 );
    color: #fff; }

/*# sourceMappingURL=hcpp_js1.css.map */
